---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/styles.css";

const res = await fetch(
  "https://www.getbaked.blog/wp-json/wp/v2/posts?categories=4&fields_author,title,slug&_embed"
);
const posts = await res.json();
//console.log(posts[0]._embedded['wp:featuredmedia'].source_url)
console.log(
  posts[0]._embedded["wp:featuredmedia"][0].media_details.sizes.medium
    .source_url
);
---

<BaseLayout>
  <section class="recipe-page-main">
    {
      posts.map((post) => (
        <div class="recipe-card">
          <div class="recipe-card-info-main">
            <div class="recipe-card-title-main">
              <img
                src={
                  post._embedded["wp:featuredmedia"][0].media_details.sizes
                    .medium.source_url
                }
              />
              <a href={`/recipes/${post.slug}/`}>
                <h2 set:html={post.title.rendered} />
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </section>
</BaseLayout>
