---
import Navigation from "./Navigation.astro";
import '../styles/styles.css';
---

<header>
  <div class="header-content">
    <div class="header-title">
      <h1>GetBakedWith.Me</h1>
    </div>
    <nav class="header-nav">
      <Navigation />
    </nav>
  </div>
</header>
