---
const { frontmatter } = Astro.props;
import '../styles/global.css';
---
<h1>{frontmatter.title}</h1>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<p>Written by {frontmatter.author}</p>
<slot />
<style>
    p {
        color: red;
    }
</style>